* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}



h3 {
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 30px;
  color: #062939;
  position: relative;
}

h3::after {
  content: " ";
  display: block;
  width: 100px;
  height: 10px;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  background: #00738E;
}

@media (min-width:1521px) {
  .container {
    max-width: 1521px;
  }
}




/* 로드맵 */

#roadmap {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #F2F2F2;
  padding: 100px 0;
  z-index: -2;
}

.roadmap_area {
  text-align: center;
}

.roadmap_area::after {
  content: "";
  background: url("../img/roadmap_bg01.png") no-repeat;
  width: 100%;
  height: 323px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.roadmap_area::before {
  content: "";
  background: url("../img/roadmap_bg02.png") no-repeat;
  width: 100%;
  height: 323px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#roadmap .roadmap_area img {
  max-width: 60%;
  margin: 40px 0;
}

/* 컨텍 */

#contact {
  width: 100%;
  overflow: hidden;
  background: url(../img/contact_bg.png) no-repeat center center;
  padding: 100px 0;
}

#contact .contact_area {
  text-align: center;
  width: 100%;
}

#contact .contact_area h3 {
  color: #fff;
}

#contact .contact_area .contact_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}

#contact .contact_area .contact_box .con_left {
  width: 30%;
  padding: 40px 30px;
  background-color: #fff;
  border-radius: 5px;
}

#contact .contact_area .contact_box .con_left h4 {
  color: #00688E;
  font-weight: bold;
}

#contact .contact_area .contact_box .con_left form {
  display: flex;
  flex-direction: column;
  padding: 30px 0 0 0;
}

#contact .contact_area .contact_box .con_left form input.email {
  padding: 0px 10px 20px 10px;
  background-color: #E8E8E8;
  border: none;
  border-radius: 5px;
}

#contact .contact_area .contact_box .con_left form textarea {
  padding: 5px 10px 50px 10px;
  margin: 30px 0;
  border: none;
  background-color: #E8E8E8;
  border-radius: 5px;
  margin-bottom: 44px;

}

.contact_box .con_left form.gform input.send {
  width: 30%;
  margin: 0 auto;
  background-color: #00688E;
  border: none;
  padding: 15px 0;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
}

.contact_box .con_left form.gform input.send:hover {
  color: #00688E;
  background-color: #fff;
  border: 1px solid #00688E;
  box-sizing: border-box;
  clear: both;
  margin: -1px auto;
}

.contact_box .con_right {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 100px;
  text-align: left;
}

.contact_box .con_right div {
  padding: 30px 0;
}

.contact_box .con_right span {
  font-size: 1.5em;
  color: #fff;
  font-weight: bold;

}

.contact_box .con_right p {
  color: #fff;
  text-align: center;
  font-weight: normal;
  margin-left: 90px;
}

.contact_box .con_right span img {
  width: 50px;
  padding: 10px;
  margin-right: 30px;
  margin-left: 0;
}

footer {
  background-color: #2B2B2B;
}

footer .footer_area {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  align-items: center;
}

footer .footer_area .footer_logo img {
  width: 30%;
}

footer .footer_are .footer_logo {
  width: 10%;
}

footer .footer_area .footer_white {
  width: 80%;
}

footer .footer_area .footer_white a {
  font-weight: 400;
  width: 40%;
  padding: 15px 20px;
  border-radius: 50px;
  margin-top: 50px;
  margin-right: 20px;
  text-decoration: none;
  transition:all .2s;
  background: linear-gradient(to bottom, #00678e 0%, #7db9e8 100%);
}

footer .footer_area .footer_white a:hover{
  color: #fff;
  background: linear-gradient(to bottom, #7db9e8 0%, #00678e 100%)
}

footer .footer_area .footer_white a img {
  width: 30px;
  margin-bottom: 5px;
}

footer .footer_area h4 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 30px;
}

footer .footer_area .footer_sns {
  width: 5%;
}

footer .footer_area .footer_sns img{
  width:50px;
}
