*{margin:0; padding:0; box-sizing:border-box; font-family: 'HallymGothic-Regular';}
    a{text-decoration : none;}
    address{font-style:normal;}

    @font-face {
      font-family: 'HallymGothic-Regular';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
      font-weight: 400;
      font-style: normal;
  }

  @font-face {
    font-family: 'HallymGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


h3{
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 30px;
  color: #062939;
  position: relative;
  font-family: 'HallymGothic-Bold';
}

h3::after{
  content: " ";
  display: block;
  width:100px;
  height: 10px;
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  background:#00738E;
}

@media (min-width:1521px){
  .container{
    max-width: 1521px;
  }
}  



/*헤더*/


/*헤더*/
header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 999;
  top: 0;
  transition: top 0.3s ease-in-out;
}



header .hd_wrap {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}


.hd_wrap hgroup {
  float: left;
  margin-top: 5px;
  width: 85px;
}

.hd_wrap hgroup h1 img {
  max-width: 80%;
  vertical-align: middle;
}



.pc_wrap {
  float: right;
}


.pc_wrap ul li {
  display: inline-block;
  line-height: 80px;
  font-size: 17px;
  text-align: center;
  margin-right: 80px;
}


.pc_wrap ul li:last-child {
  margin-right: 0;
}

header .hd_wrap .pc_wrap ul li img {
  max-width: 100%;
  vertical-align: middle;
}



.pc_wrap ul a {
  color: #ffffff;
  text-decoration: none;
  z-index: 10;
  font-weight: bold;
  font-size: 1.2em;
}
.pc_wrap ul li:hover a{
  color: #003E6C;
  font-weight: bold;
}


header.activated{
  border-bottom: none;
background-color:rgba(255, 255, 255, 0.69);
-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
header.activated .pc_wrap ul li a{
  color: #222222;
}
header.activated .pc_wrap ul li:hover a{
  color: #003E6C;
  font-weight: bold;
}



/*반응형*/
.ham_bt {
  display: none;
  position: absolute;
  top: 24%;
  right: 5%;
  transition:all .2s
}

.ham_bt i{
  font-size: 50px;
  color: #fff;
}

header.activated .ham_bt i{
  color: #222222;
}
.ham_bt:hover{
  transform: rotate(90deg);
}

.mb_menu {
  display: none;
  position: absolute;
  top: 80px;
  right: 0;
  width: 100%;
  line-height: 3;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  transition: all .5s ease;
  text-align: center;
  border-radius: 0 0 30px 30px;
  z-index: 999;
}


.mb_menu ul li a{
  font-weight: bold;
  color: #222222;
  text-decoration: none;
  font-size: 2em;
}


.mb_menu ul li:hover a {
  color: #00738E;
  text-decoration: none;
}

.hd_wrap .pc_wrap ul li a.site img{
  max-width: 60%;
}

#home{
  width: 100%;
  height: 900px;
  overflow: hidden;
  position: relative;
}

#home::after{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient( to bottom, rgba(1, 44, 82, 0.6) 10%, rgba(255, 255, 255, 0));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

}

#home video{
  z-index: -1;
}

#home .main_area{
  z-index: 10;
  position: absolute;
  background: rgba(228, 247, 255, 0.8);
  width:50%;
  height:50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 70px;
  text-align: center;
}

#home .main_area .main_txt h2 b{
  font-size: 3.5em;
  margin-bottom: 25px;
  font-family: 'HallymGothic-Bold';
}

#home .main_area .main_txt p{
  margin: 20px 0 40px 0;
  font-size: 1.3rem;
}

#home .main_area .main_txt .main_bt{
  display: flex;
  justify-content: space-evenly;
}

#home .main_area .main_txt .main_bt a{
  width: 25%;
  background-color: #00738E;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}

#home .main_area .main_txt .main_bt:hover a{
  text-decoration: none;

}

/* 어바웃 */

#about {
  width: 100%;
  overflow: hidden;
  background:url(../img/ad_bg.png) no-repeat;
  position: relative;
  z-index: -1;
}

#about::before{
  content:'';
  display: block;
  position:absolute;
  top: 0;
  left: 0;
  width: 60%;
  height:100%;
  background:rgba(0, 0, 0, 0.65);
  z-index: -1;
}

#about .about_area{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px 0;
}

#about .about_area .ab_txt h3{
  color: #fff;
  position: relative;
}

#about .about_area .ab_txt {
  width: 50%;
  color: #fff;
}

#about .about_area .ab_txt h3::after{
  left: 6%;
}

#about .about_area .ab_pic{
  width: 40%;

}
#about .about_area .ab_pic img{
  max-width: 100%;
  box-shadow: 12px 18px 17px rgba(0, 0, 0, 0.4);
}



#about .about_area .ab_txt p{
  padding-top: 20px;
}



#about_02{
  width: 100%;
  background-color: #E8E8E8;
  overflow:hidden;
  position: relative;
  z-index: -2;
}

#about_02 .ab02_bg img{
  position: absolute;
  width: 1200px;
  bottom: -200px;
  right: -200px;
  opacity: .5;
  z-index: -1;
}


#about_02 .ab02_area{
  text-align: center;
  padding:100px 0;
  z-index: 2;
}


#about_02 .ab02_area p{
  padding: 30px 0;
}

#about_02 .ab02_area img{
  max-width: 70%;
  z-index: 10;
}

#about_02 .ab02_area img.blockchain_mo{
  display: none;
}

#ab3{
  width: 100%;
  height: 100%;
  padding: 100px 0;
  background: url(../img/ab3_bg.png) no-repeat center 0;
  background-size: cover;
 }
 
 .ab3_wrap{
   width: 100%;
 }
 
 .ab3_wrap > .line{
   width: 100px;
   height: 10px;
   background-color: #00738E;
   margin: 0 auto;
 }
 
 .ab3_wrap > h3{
   text-align: center;
   color: #fff;
 }
 
 .ab3_contents_wrap{
   width: 100%;
   margin-top: 100px;
 }
 
 .ab3_cont{
   width: 100%;
   display: flex;
   justify-content: space-between;
 }
 
 .ab3_cont_box{
   width: 23%;
   background-color: rgba(255,255,255,0.9);
   border-radius: 10px;
   text-align: center;
   padding: 3% 2% 2%;
 }
 
 .ab3_cont_box img{
   max-width: 23%;
   margin-bottom: 4%;
 }
 
 .ab3_cont_box h4{
   color: #00738E;
   font-weight: bold;
   margin-bottom: 4%;
 }
 
 .ab3_cont_box p{
   font-size: 0.9em;
 }
 
 .ab3_txt_spe{
   font-size: 0.7em;
   margin-top: -3%;
 }
 
 
 
 
 /*coin_left*/
 
 
 #coin{
   width: 100%;
   padding: 100px 0;
   background: url(../img/coin_bg.png) no-repeat center center;
   background-color: #E9E9E9;
   background-size: cover;
 }
 
 .coin_wrap{
   width: 100%;
   text-align: center;
 }
 
 .coin_wrap .line{
   width: 100px;
   height: 10px;
   background-color: #00738E;
   margin: 0 auto 30px;
 }
 
 .coin_txt{
   font-weight: 500;
   margin-top: 60px;
 }
 
 
 .coin_contents{
   width: 90%;
   margin: 30px auto 0;
   background-color: rgba(255,255,255,.7);
   border-radius: 30px;
   display: flex;
   justify-content: space-evenly;
   padding: 100px 0;
 }
 
 .coin_contents h4{
   color:#00638E ;
   font-weight: bold;
   margin-bottom: 22%;
   font-size: 1.2em;
 }
 
 .coin_cont_left{ 
   width: 22%;
 }
 
 .coin_cont_left_top{
   width: 100%;
   display: flex;
   justify-content: space-around;
   text-align: left;
   margin-left: -5%;
 }
 
 .coin_cont_left_top li{
   margin-left: -30%;
 }
 
 .coin_cont_left_top li:first-child{
   margin-left: 0 !important;
 }
 
 .coin_cont_left_top li > span{
   font-weight: bold;
 }
 
 .coin_cont_left_bottom{
   display: flex;
   justify-content: space-around;
   width: 100%;
   text-align: left;
   margin-left: 5%;
 }
 
 
 .coin_cont_left_bottom li > span {
   font-weight: bold;
 }
 
 
 /*coin_right*/
 
 
 .coin_cont_right{
   width: 40%;
   display: flex;
   justify-content: space-around;
 }
 
 
 .coin_cont_right_left{
   width: 50%;
 }
 
 .coin_cont_right_left h4{
   margin-bottom: 5% !important;
 }
 
 .coin_cont_right_left img{
   max-width: 100%;
 }
 
 .coin_cont_right_right{
   width: 50%;
   margin-left: 50px;
 }
 
 .coin_cont_figure{
   width: 100%;
   margin-top: 18%;
 }
 
 .coin_cont_figure li{
   margin-bottom: 9%;
   text-align: left;
 }
 
 .coin_cont_figure .box{
   display: inline-block;
   width: 20px;
   height: 20px;
   background-color: #00638E;
   border-radius: 3px;
 }
 
 .coin_cont_figure .box2{
   background-color: #63C6E9;
 }
 .coin_cont_figure .box3{
   background-color: #4B6169;
 }
 .coin_cont_figure .box4{
   background-color: #4C99B5;
 }
 .coin_cont_figure .box5{
   background-color: #2C5869;
 }
 
 .coin_cont_figure .coin_box_txt{
   font-weight: bold;
 }



 /* 로드맵 */

#roadmap {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #F2F2F2;
  padding: 100px 0;
  z-index: -2;
}

.roadmap_area {
  text-align: center;
}

.roadmap_area::after {
  content: "";
  background: url("../img/roadmap_bg01.png") no-repeat;
  width: 100%;
  height: 323px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.roadmap_area::before {
  content: "";
  background: url("../img/roadmap_bg02.png") no-repeat;
  width: 100%;
  height: 323px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#roadmap .roadmap_area img {
  max-width: 60%;
  margin: 40px 0;
}

/* 컨텍 */

#contact {
  width: 100%;
  overflow: hidden;
  background: url(../img/contact_bg.png) no-repeat center center;
  padding: 100px 0;
}

#contact .contact_area {
  text-align: center;
  width: 100%;
}

#contact .contact_area h3 {
  color: #fff;
}

#contact .contact_area .contact_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}

#contact .contact_area .contact_box .con_left {
  width: 30%;
  padding: 40px 30px;
  background-color: #fff;
  border-radius: 5px;
}

#contact .contact_area .contact_box .con_left h4 {
  color: #00688E;
  font-weight: bold;
}

#contact .contact_area .contact_box .con_left form {
  display: flex;
  flex-direction: column;
  padding: 30px 0 0 0;
}

#contact .contact_area .contact_box .con_left form input.email {
  padding: 20px;
  background-color: #E8E8E8;
  border: none;
  border-radius: 5px;
}

#contact .contact_area .contact_box .con_left form textarea {
  padding: 20px 20px 50px;
  margin: 30px 0;
  border: none;
  background-color: #E8E8E8;
  border-radius: 5px;
  margin-bottom: 44px;

}

.contact_box .con_left form.gform input.send {
  width: 40%;
  margin: 0 auto;
  background-color: #00688E;
  border: none;
  padding: 15px 0;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
}

.contact_box .con_left form.gform input.send:hover {
  color: #00688E;
  background-color: #fff;
  border: 1px solid #00688E;
  box-sizing: border-box;
  clear: both;
  margin: -1px auto;
}

.contact_box .con_right {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 100px;
  text-align: left;
}

.contact_box .con_right div {
  padding: 30px 0;
}

.contact_box .con_right span {
  font-size: 1.5em;
  color: #fff;
  font-weight: bold;

}

.contact_box .con_right p {
  color: #fff;
  font-weight: normal;
  margin-left: 90px;
}

.contact_box .con_right span img {
  width: 50px;
  padding: 10px;
  margin-right: 30px;
  margin-left: 0;
}

footer {
  background-color: #2B2B2B;
}

footer .footer_area {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  align-items: center;
}

footer .footer_area .footer_logo img {
  width: 60%;
}

footer .footer_are .footer_logo {
  width: 10%;
}

footer .footer_area .footer_white {
  width: 80%;
}

footer .footer_area .footer_white a {
  font-weight: 400;
  width: 40%;
  padding: 15px 20px;
  border-radius: 50px;
  margin-top: 50px;
  margin-right: 20px;
  text-decoration: none;
  transition:all .2s;
  color: rgb(226, 226, 226);
  background: linear-gradient(to bottom, #00678e 0%, #38566e 100%);
}

footer .footer_area .footer_white a:hover{
  color: #fff;
  background: linear-gradient(to bottom, #679cc5 0%, #00678e 100%)
}

footer .footer_area .footer_white a img {
  width: 30px;
  margin-bottom: 5px;
}

footer .footer_area h4 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 30px;
}

footer .footer_area .footer_sns {
  width: 5%;
}

footer .footer_area .footer_sns img{
  width:50px;
}